{% load static %}
{% load bootstrap4 %}

<!DOCTYPE html>
<html lang="es-ec">
<link rel="stylesheet" href="{% static 'style.css' %}">
<link rel="stylesheet" href="{% static 'menu.css' %}">
{% bootstrap_css %}
{% bootstrap_javascript %}
<head>
<style>
  /* Estilos opcionales para ocultar el formulario inicialmente */
  #exampleModal2 {
      display: none;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: white;
      padding: 20px;
      z-index: 1000;
  }
</style>
</head>

<nav id='menu'>
    <input type='checkbox' id='responsive-menu' onclick='updatemenu()'><label></label>
    <ul>
      <li><a href='http://'>Home</a></li>
      <li><a class='dropdown-arrow' href='http://'>Products</a>
        <ul class='sub-menus'>
          <li><a href='http://'>Products 1</a></li>
          <li><a href='http://'>Products 2</a></li>
          <li><a href='http://'>Products 3</a></li>
          <li><a href='http://'>Products 4</a></li>
        </ul>
      </li>
      <li><a href='http://'>About</a></li>
      <li><a class='dropdown-arrow' href='http://'>Services</a>
        <ul class='sub-menus'>
          <li><a href='http://'>Services 1</a></li>
          <li><a href='http://'>Services 2</a></li>
          <li><a href='http://'>Services 3</a></li>
        </ul>
      </li>
      <li><a href='http://'>Contact Us</a></li>
    </ul>
</nav>

  <h1> Gestion de Clientes </h1>

  <p>
    <button class="button" onclick="mostrarFormulario()" >Agregar Tarea</button>
  </p>

<!-- This is the first modal -->
<div  id="exampleModal2" >
    
    <form class="grid-x grid-margin-x" method='POST' action="{% url 'todo_app:add-task' %}"> {% csrf_token %}
        <div class="cell small-12">
          <div class="cell small-12">
            <label style="display: block; margin-bottom: 10px;">Titulo: {{ form.title }}</label>
            <label style="display: block; margin-bottom: 10px;">Descripción: {{ form.description }}</label>
            <label style="display: block; margin-bottom: 10px;">Completado: {{ form.completed }}</label>
            <label style="display: block; margin-bottom: 10px;">Fecha de Creación: {{ form.created_at }}</label>
        </div>
        
        </div>
        <div class="cell small-12">
            <button type="submit" class="success button">Guardar</button>
            
        </div>
    </form>
</div>

<table id="customers">
  <tr>
    <th>Titulo</th>
    <th>Descripcion</th>
    <th>Completado</th>
    <th>Creacion</th>
    <th>Acciones</th>
    <th></th>
  </tr>

  {% for task in tasks %}
  <tr>
    <td>{{task.title}}</td>
    <td>{{task.description}}</td>
    <td>{{task.completed}}</td>
    <td>{{task.created_at}}</td>
    <td>
      <div>
        <a href="#" class="btn">Editar</a>
      </div>

      <div>
          
        <form method="post" action="{% url 'todo_app:delete' task.id %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Eliminar</button>
        </form>
        
      </div>
       
    </td>
  </tr>
  {% endfor%}
  
</table>


<script>
  function mostrarFormulario() {
      var modal = document.getElementById('exampleModal2');
      modal.style.display = 'block';
  }
</script>

</html >




   